.action-toolbar {
  margin-bottom: 1em;

  &__options {
    display: flex;
    gap: var(--board-gap);
  }

  &__option {
    flex: 1;
  }
  
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    gap: calc(var(--board-gap));
    background-color: transparent;
    transition: background-color 0.3s ease-out;
    font-size: clamp(0.675em, 0.5em + 1.75vw, 1.125em);
    padding: 0.5em;
    min-height: 2.25em;
    color: var(--c-text);
    
    &:active {
      background-color: var(--c-accent);
    }
  };

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}