.board {
  width: var(--board-size);
  height: var(--board-size);

  &__cells {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
    gap: var(--board-gap);
  }
}