.board {
  width: var(--board-size);
  height: var(--board-size);

  &__cells {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    gap: 0.25em;
  }
}