.board {
  --gap: 1px;
  aspect-ratio: 1 / 1;
  position: relative;
  padding: var(--gap);

  &__cells {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
    gap: var(--gap);
  }

  &__grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    top: 0;
    left: 0;
    pointer-events: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap);
    border: var(--gap) solid hsla(var(--c-text-hsl), 0.3);
  }

  &__grid-cell {
    outline: var(--gap) solid var(--c-text);
    opacity: 0.2;
  }
}
