button, .button {
  --border-opacity: 0;
  --border-width: 3px;
  border: none;
  outline: var(--border-width) solid hsla(var(--c-accent-hsl), var(--border-opacity));
  outline-offset: 3px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: outline 0.25s, transform 0.25s;
  user-select: none;
  color: var(--c-text);
  background-color: var(--c-accent);
  border-radius: 0.5em;

  &:disabled {
    opacity: 0.575;
    cursor: not-allowed;
  }

  &:disabled:hover {
    --border-opacity: 0;
  }

  &:hover {
    --border-opacity: 0.8;
  }
  
  &:focus,
  &:focus-visible {
    --border-opacity: 1;
  }

  &:not(.cell__button):hover, 
  &:not(.cell__button):focus {
    --border-width: 2px;
    --border-opacity: 1;
  }
  
  &:active {
    transform: scale(0.95);
  }

  &.ghost {
    background-color: transparent;
    border: 2px solid hsla(var(--c-accent-hsl));

    &:focus, &:hover {
      background-color: hsla(var(--c-accent-hsl), 0.3);
    }
  }

  &.rounded-full {
    border-radius: 100vmax;
  }
}

