.cell {
  --opacity: 0.1;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  font-size: clamp(1em, 0.8em + 1vw, 1.5em);
  display: flex;
  align-items: center;
  
  &__button {
    --lightness: 87.5%;
    background-color: hsla(0, 0%, var(--lightness), var(--opacity));
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
    color: var(--c-text);
  
    &[data-region="odd"] {
      --opacity: 0.05;
    }

    &:focus {
      box-shadow: none;
    }

    &[data-region-selected="true"],
    &[data-row-selected="true"],
    &[data-col-selected="true"],
    &[data-value-selected="true"] {
      background-color: hsla(var(--c-accent-hsl), var(--opacity));
    }

    &[data-region-selected="true"] {
      --opacity: 0.3;
    }

    &[data-row-selected="true"],
    &[data-col-selected="true"]{
      --opacity: 0.5;
    }

    &[data-value-selected="true"] {
      --opacity: 0.25;
      --border-opacity: 0.8;
      --border-width: 1px;
    }

    &.selected {
      --opacity: 0.5;
      --border-opacity: 1;
      --border-width: min(0.175em, 4px);
      box-shadow: 0 0 0 var(--border-width) hsla(var(--c-accent-hsl), var(--border-opacity));
    }
    
    &[data-value-incorrect="true"] {
      --opacity: 0.25;
      --border-opacity: 0.8;
      box-shadow: 0 0 0 var(--border-width) hsl(var(--c-incorrect-h), var(--c-accent-s), var(--c-accent-l));
      background-color: hsla(var(--c-incorrect-h), var(--c-accent-s), var(--c-accent-l), var(--opacity));
    }
    
    &.correct {
      --c-accent-l: 65%;
      color: hsl(var(--c-accent-h), var(--c-accent-s), var(--c-accent-l));
    }

    &.incorrect {
      color: hsl(var(--c-incorrect-h), var(--c-accent-s), var(--c-accent-l));
    }
  }

  &__notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 0.125em;
  }

  &__note {
    --opacity: 0;
    font-size: max(0.4em, var(--min-font-size));
    line-height: 1;
    width: 100%;
    height: 100%;
    opacity: var(--opacity);
    color: var(--c-white);

    &[data-is-visible="true"] {
      --opacity: 0.85;
    }
  }
}

@media (prefers-color-scheme: light) {
  .cell {
    &__button {
      --lightness: 0%;

      &[data-region-selected="true"] {
        --opacity: 0.25;
      }

      &[data-row-selected="true"],
      &[data-col-selected="true"]{
        --opacity: 0.4;
      }

      &[data-value-selected="true"] {
        --opacity: 0.35;
      }
      
      &.selected {
        --opacity: 0.4;
      }

    }
  }
}