.daily-challenges {
  position: relative;

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-button-wrapper {
    --offset: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 1.25em;

    &.prev {
      left: var(--offset);
    }

    &.next {
      right: var(--offset);
    }
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 40%;
    justify-content: center;
    border-radius: 1em;
    background: radial-gradient(
      hsl(var(--c-accent-hsl)),
      hsl(calc(var(--c-accent-h) - 10), var(--c-accent-s), 30%)
    );
  }

  &__trophy {
    z-index: 1;
    width: 40%;
    aspect-ratio: 1;
  }

  &__rays {
    position: absolute;
    width: 100%;
    opacity: 0.075;

    &.rays-1 {
      animation: 13s linear infinite normal spin;
    }

    &.rays-2 {
      animation: 15s linear infinite reverse spin;
    }
  }

  &__calendar {
    flex: 1;
  }

  &__play-button {
    margin: 0 1.5em;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1.3);
  }
}
