.daily-challenges-date-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  aspect-ratio: 1;
  background-color: transparent;
  padding: 0;
  position: relative;

  &:hover,
  &:focus {
    background-color: hsla(var(--c-accent-hsl), 0.3);
  }

  &:disabled {
    background-color: transparent;
    box-shadow: none;
  }

  &.selected {
    background-color: hsla(var(--c-accent-hsl), 0.7);
  }

  &.solved {
    background-color: transparent;
  }

  &__progress {
    font-size: 2.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__completed-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
  }
}
