.daily-challenges {
  &__main {
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    aspect-ratio: 405 / 235;
    justify-content: center;
    mix-blend-mode: screen;
  }

  &__logo-outlined {
    z-index: 1;
    width: 100px;
  }

  &__rays {
    position: absolute;
    width: 100%;
    opacity: 0.15;
    filter: blur(1px);

    &.rays-1 {
      animation: 13s linear infinite normal spin;
    }
    
    &.rays-2 {
      animation: 10s linear infinite reverse spin;
    }
  }

  &__calendar {
    flex: 1;
  }

  &__play-button {
    margin: 0 1.5em;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}