.daily-challenges-calendar {
  height: 100%;
  position: relative;
  
  &__calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    align-items: center;
    gap: 0.25em;
    padding: 1em 3em;
    height: 100%;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }
  
  &__nav-button-wrapper {
    --offset: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 1.25em;

    &.prev {
      left: var(--offset);
    }

    &.next {
      right: var(--offset);
    }
  }
}