.daily-challenges-calendar {
  height: 100%;
  position: relative;
  
  &__calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.25em;
    padding: 1em 3em;
    height: 100%;
  }

  &__date-button {
    font-size: 0.9em;
    aspect-ratio: 1;
    background-color: transparent;
    padding: 0;

    &:hover, &:focus {
      background-color: hsla(var(--c-accent-hsl), 0.3);
    }

    &:disabled {
      background-color: transparent;
      outline: none;
    }

    &[data-is-selected="true"] {
      background-color: hsla(var(--c-accent-hsl), 0.7);
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }
  
  &__nav-button-wrapper {
    --offset: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 1.25em;

    &.prev {
      left: var(--offset);
    }

    &.next {
      right: var(--offset);
    }
  }
}