.game-result {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;

  &__message {
    font-size: 2.5em;
  }

  &__button {
    background-color: var(--c-accent);
  }
}