.game-result {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 23%, 0.25);

  &__message {
    font-size: 5em;
  }
}