.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7em;
  letter-spacing: 0.025em;
  margin-bottom: 1em;


  & > * {
    width: calc(100% / 3);
    display: flex;
    align-items: center;

    @media (max-width: 400px) {
      width: unset;
    }
  }

  &__attempts {
    justify-content: center;
  }

  &__time {
    justify-content: flex-end;
  }

  &__pause-button {
    display: flex;
    align-items: center;
    gap: 0.25em;
    background-color: transparent;
    padding: 0.125em;
    padding-left: 0.25em;
  }

  &__pause-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}