.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: min(1em, calc(var(--min-font-size) * 2));
  margin-bottom: 0.125em;
  margin-bottom: 2em;

  &__action-buttons {
    display: flex;
    gap: 0.5em;
  }

  &__action-button {
    --size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}