.header {
  font-size: min(1em, calc(var(--min-font-size) * 2));
  margin-bottom: 0.125em;

  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 1em;
  }

  &__logo {
    width: 3em;
  }

  &__title {
    margin-top: 4px;
  }
}