.how-to-play {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 3em;
    position: relative;
  }

  &__title {
    text-align: center;
    font-weight: 500;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
  }

  &__button-wrapper {
    position: absolute;
    top: min(50%, 250px);
    left: 0;
    width: 100%;
    padding: 0.5em;
    transform: translateY(-50%);
  }

  &__button {
    padding: 0.125em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    padding-left: 1.5em;
    position: relative;
  }

  li::before {
    content: "•";
    position: absolute;
    left: 0.5em;
  }

  li:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
