.instructions-modal {
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    max-height: 250px;
    overflow-y: auto;
  }

  &__button {
    padding: 0.125em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}