.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 14%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    position: absolute;
    animation: pulse 2s ease-in-out alternate infinite;
    background-color: var(--c-ui-bg);
    transition: box-shadow 0.3s ease-in-out;
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    width: min(290px, 80vw);
  }

  &__close-button {
    position: absolute;
    top: 0.375em;
    right: 0.375em;
    padding: 0.125em;
    font-size: 1.2em;
    width: 1.125em;
    height: 1.125em;
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--c-text);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 
      0 0 0 1px var(--c-accent),
      0 0 20px var(--c-accent);
  }

  100% {
    box-shadow: 
      0 0 0 1px var(--c-accent),
      0 0 5px var(--c-accent);
  }
}