.statistics {
  position: relative;
  --game-types-height: 46px;
  display: flex;
  flex-direction: column;

  &__header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__title {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 0.25em;
  }

  &__main {
    padding: 0 0.25em;
    display: flex;
    flex-direction: column;
    flex: unset;
    overflow-y: scroll;
    position: relative;

    &::before, 
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1em;
      z-index: 1;
    }

    &::before {
      top: 43px;
      background: linear-gradient(to top, hsla(0, 0%, 11%, 0), hsla(0, 0%, 11%, 1));
    }
    
    &::after {
      bottom: 0;
      background: linear-gradient(to bottom, hsla(0, 0%, 11%, 0), hsla(0, 0%, 11%, 1));
    }
  }

  &__game-types {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0.25em;
    padding-right: 1em;
    overflow-x: auto;
    width: 100%;
    height: var(--game-types-height);
    top: var(--header-height);
    margin: 0;
    left: 0;
    overflow: auto;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 1.5em;
      height: var(--game-types-height);
      background: linear-gradient(to right, hsla(0, 0%, 11%, 0), hsla(0, 0%, 11%, 1));
    }
  }
  
  &__game-type-button {
    --scaleY: 0;
    font-weight: 500;
    width: max-content;
    position: relative;
    background-color: transparent;
    padding: 0.325em 0.5em;
    border-radius: 0.0625em;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--c-accent-text);
      transform: scaleY(var(--scaleY));
      transition: transform 0.25s ease-out;
    }

    &.active {
      color: var(--c-accent-text);

      &::after {
        --scaleY: 1;
      }
    }
  }

  &__list {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 1em 0;
  }
}