.app {
  --padding: 1.25em;
  --border-opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: min(calc(var(--board-size) + 2 * var(--padding)), 100vw);
  padding: 1.25em;
  aspect-ratio: 9 / 16;
  box-shadow: 0 0 0 1px hsla(var(--c-accent-hsl), var(--border-opacity));
  background-color: var(--c-ui-bg);
  transition: box-shadow 0.25s ease;
}

@media (max-width: 700px) {
  .app {
      --border-opacity: 0;
      height: 100vh;
  }
}