*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--c-text);
  background-color: var(--c-ui-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

ol, li {
  list-style: none;
}

body { 
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overscroll-behavior: none;
  transition: padding 0.25s ease;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: clamp(2em, 1.8em + 2vw, 3.2em);
  line-height: 1;
}

p {
  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

a {
  color: hsl(var(--c-accent-h), var(--c-accent-s), 85%);
  border-radius: 0.125em;
  text-decoration: none;

  &:focus {
    outline: 2px solid var(--c-accent);
  }
}

.text-muted {
  color: var(--c-text);
  opacity: 0.6;
}

@media (max-width: 700px) {
  body {
    padding: 0;
    justify-content: flex-start;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --c-text-l: 10%;
    --c-ui-bg-l: 100%;
  }
}
