:root {
  --cell-size: 45px;
  --board-size: min(calc(var(--cell-size) * 9), calc(100vw - 2em));
  --board-gap: clamp(3px, 0.3em, 5px);
  --min-font-size: 8px;
  --header-height: 50px;
  --footer-height: 50px;
  --app-padding: 1.25em;

  // Accent color
  --c-accent-h: 273;
  --c-accent-s: 100%;
  --c-accent-l: 55%;
  --c-accent-hsl: var(--c-accent-h), var(--c-accent-s), var(--c-accent-l);
  --c-accent: hsl(var(--c-accent-hsl));

  // Text Color
  --c-text-l: 95%;
  --c-text: hsl(var(--c-accent-h), var(--c-accent-s), var(--c-text-l));
  --c-accent-text: hsl(var(--c-accent-h), var(--c-accent-s), 70%);

  // Background Color
  --c-ui-bg-l: 11;
  --c-ui-bg: hsl(0, 0%, calc(var(--c-ui-bg-l) * 1%));

  --c-incorrect-h: max(calc(var(--c-accent-h) + 100), 345);
}
